.git
.github
.gitignore
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.hypothesis
.tox
.coverage
htmlcov
.env
.venv
venv/
env/
.DS_Store
*.log
node_modules
*.swp
*.swo
*~
.cache
.env.local
.env.*.local
npm-debug.log
*.tar.gz
*.tar
